 .file{
  .blob-wrapper{
    background: #222!important;
    color: #fff!important;
  }
  .blob-num, 
  .pl-s1 .pl-s2, 
  .pl-smi, 
  .pl-smp, 
  .pl-stj, 
  .pl-vo, 
  .pl-vpf, 
  .blob-code, 
  .pl-mo, 
  .pl-v{
    color: #fff!important;
  }

  .pl-e,
  .pl-en{
    color: #e57232!important;
  }

  .pl-k, 
  .pl-s, 
  .pl-st{
    color: yellow!important;
  }

  .pl-pds, 
  .pl-s1, 
  .pl-s1 .pl-pse .pl-s2, 
  .pl-sr, 
  .pl-sr .pl-cce, 
  .pl-sr .pl-sra, 
  .pl-sr .pl-sre, 
  .pl-src{
    color: #32CD32!important;
  }

  .pl-s3{
    color: #56A0D3!important;
  }

}